<!DOCTYPE HTML>
<html ng-app="myApp">
<head>
    <title>AngularJS Dynamic Forms</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="css/layout.css">
    <script src="http://maps.googleapis.com/maps/api/js?sensor=false&language=en"></script>
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/angular.min.js"></script>
     <script type="text/javascript" src="js/angular-google-maps.js"></script>
     <script type="text/javascript" src="js/angular-form-item.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
    <script type="text/javascript" src="js/fastclick.js"></script>

</head>
<body>

<div id="container" ng-controller="FormCtrl">
	<button ng-click="add()"></button>
    <form-item ng-repeat="item in data" content="item"></form-item>
</div>

</body>
<footer><script type="text/javascript">
window.addEventListener('load', function() {
    new FastClick(document.body);
}, false);
</script></footer>	
</html>